.anuncio-img {
    width: 300px;  
    height: 200px;
    object-fit: cover;
  }
  form div {
    margin-bottom: 10px; 
  }
  label {
    display: block;
    margin-bottom: 5px; 
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around; 
  }
  li {
    flex-basis: calc(33.333% - 20px); 
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px; 
  }
  .anuncio-img {
    width: 50%; 
    height: auto; 
    border-radius: 5px 5px 0 0; 
  }
  @media (max-width: 800px) {
    li {
      flex-basis: calc(50% - 20px); 
    }
  }
  @media (max-width: 500px) {
    li {
      flex-basis: 100%;
    }
  }